.card {
  @include card;

  position: relative;
  flex-basis: 310px;
  flex-shrink: 0;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity $transition-duration;

  &:hover {
    opacity: 1;
  }

  &__image {
    @include img;

    display: block;
  }

  &__front {
    @include cardDefault;

    transform: perspective(600px) rotateY(0deg);
  }

  &__back {
    @include cardDefault;

    padding: 10px 20px;
    transform: perspective(600px) rotateY(180deg);
    background: -webkit-linear-gradient(90deg,#000000,#230b10,#331016,#230b10,#000000);
    background: linear-gradient(90deg,#000000,#230b10,#331016,#230b10,#000000);
    color: $white-color;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
  }

  &__info {
    list-style: none;
  }

  &__info-item {
    margin-bottom: 3px;

    & span {
      font-weight: 500;
    }
  }

  &__link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    width: max-content;
    text-decoration: none;
    color: $white-color;
    transition: color $transition-duration;

    &:hover {
      color: #F701FF;
    }

    &:active {
      color: $white-color;
    }
  }
}

[data-reverse="true"] {
  .card {
    &__front {
      transform: perspective(420px) rotateY(-180deg);
    }

    &__back {
      transform: perspective(420px) rotateY(0deg);
    }
  }
}
