.card {
  @include card;

  cursor: pointer;

  &__image {
    @include img;

    display: block;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__back {
    display: none;
  }
}
