.miscellaneous {
  &__content {
    padding: 21px 0 35px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-light;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: $color-dark;
  }
}
