.release-card {
  display: flex;
  flex-basis: 420px;

  &__image-block {
    @include card;

    margin-right: 20px;
    width: 200px;
    height: 165px;
  }

  &__image {
    @include img;

    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
  }

  &__type {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    color: $description-color;
  }

  &__title {
    @include title;

    margin-bottom: 4px;
  }

  &__title-link {
    @include link;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $description-color;
  }
}
